* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    color: #333;
    /* background-color: #6b7a8f; */
    background-color: #6b7a8f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ff4d91' fill-opacity='0.35' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

header {
    display: flex;
    justify-content: space-between;
    margin: 40px 10px -50px 10px;
}

header h1 {
    font-family: "Yellowtail", cursive;
    font-size: 4em;
    text-align: left;
    color: #1d2731;
    filter: drop-shadow(0 0 3px #ff4d91);
    transform: skewY(-10deg);
    margin-bottom: -20px;
    margin-top: -20px;
    margin-left: 20px;
    z-index: 99;
}

footer {
    font-family: "Mukta Malar", sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
}

#game {
    display: flex;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
    position: relative;
}

#lower-board {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#lower-board > div {
    margin: 10px 5px;
}

#revert {
    display: inline-block;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

#revert .far {
    font-size: 4em;
    padding: 1em;
}

#invisible {
    width: 50px;
}

#buttons {
    margin-right: 50px;
}

#pegs {
    padding: 10px;
    background-color: #1d2731;
    /* margin: 20px 5px; */
    vertical-align: bottom;
    border-radius: 20px;
    /* -webkit-box-shadow: 5px 5px 20px 5px rgba(255, 77, 145, 0.3);
    -moz-box-shadow: 5px 5px 20px 5px rgba(255, 77, 145, 0.3);
    box-shadow: 5px 5px 20px 5px rgba(255, 77, 145, 0.3); */
}

#solution {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 5px auto;
    background-color: #1d2731;
    vertical-align: bottom;
    border-radius: 20px;
    /* -webkit-box-shadow: 5px 5px 20px 5px rgba(255, 77, 145, 0.3);
    -moz-box-shadow: 5px 5px 20px 5px rgba(255, 77, 145, 0.3);
    box-shadow: 5px 5px 20px 5px rgba(255, 77, 145, 0.3); */
}

#board {
    display: inline-block;
    background-color: #1d2731;
    padding: 15px;
    vertical-align: bottom;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    /* -webkit-box-shadow: 5px 5px 20px 1px rgba(255, 77, 145, 0.3);
    -moz-box-shadow: 5px 5px 20px 1px rgba(255, 77, 145, 0.3);
    box-shadow: 5px 5px 20px 1px rgba(255, 77, 145, 0.3); */
    border-right: 5px solid rgba(255, 77, 145, 0.3);
}

#feedback {
    display: inline-block;
    background-color: #1d2731;
    padding: 15px 5px 15px 10px;
    vertical-align: bottom;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* -webkit-box-shadow: 5px 5px 20px 1px rgba(255, 77, 145, 0.3);
    -moz-box-shadow: 5px 5px 20px 1px rgba(255, 77, 145, 0.3);
    box-shadow: 5px 5px 20px 1px rgba(255, 77, 145, 0.3); */
}

.feedback-row {
    margin-bottom: 15px;
    padding: 1px;
}

.guess-row {
    margin-bottom: 15px;
}

.hole {
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #6b7a8f;
    vertical-align: middle;
    margin: 0 10px;
}

.solution-hole {
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #87919e;
    vertical-align: middle;
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
}

.solution-hole :hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.key {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #6b7a8f;
    border-radius: 50%;
    margin: 0 1px;
}

.choice {
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

.color {
    animation: bounce 0.4s;
}

.blue {
    background-color: #0094c6;
}

.red {
    background-color: #ff6f59;
}

.yellow {
    background-color: #ffc43d;
}

.pink {
    background-color: #d11149;
}

.green {
    background-color: #7fb069;
}

.purple {
    background-color: #540d6e;
}

.white {
    background-color: #ffefc1;
}

.black {
    background-color: black;
}

@keyframes bounce {
    0% {
        opacity: 1;
        transform: scale(1);
        box-shadow: 0 0 0 1px;
    }
    25% {
        opacity: 1;
        transform: scale(0.95);
        box-shadow: 0 0 0 0;
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
        box-shadow: 0 0 0 1px;
    }
    75% {
        opacity: 1;
        transform: scale(1);
        box-shadow: 0 0 0 1px;
    }
    100% {
        opacity: 1;
        box-shadow: 0 0 0 0;
    }
}

.modal_open,
.modal_close {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    cursor: pointer;
    display: inline-block;
    padding: 10px 40px;
    transition: all 250ms;
    -webkit-transition: all 250ms;
}
.modal_open:hover,
.modal_close:hover {
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.4);
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4), 1px 1px 1px rgba(255, 255, 255, 0.1);
}

.modal .modal_overlay {
    background-color: #6b7a8f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ff4d91' fill-opacity='0.35' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    height: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    top: 50vh;
    transition: height 200ms 200ms, opacity 200ms 400ms, top 200ms 200ms;
    -webkit-transition: height 200ms 200ms, opacity 200ms 400ms, top 200ms 200ms;
    width: 100vw;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family: "Press Start 2P", cursive;
    font-size: 2em;
    color: black;
}

.inner > div {
    margin: 10px 10px;
}

.modal.active .modal_overlay {
    height: 100%;
    left: 0;
    opacity: 0.8;
    top: 0;
    transition: height 200ms 200ms, opacity 200ms, top 200ms 200ms;
    -webkit-transition: height 200ms 200ms, opacity 200ms, top 200ms 200ms;
    width: 100vw;
}
.modal .modal_overlay .inner {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    min-width: 500px;
    min-height: 200px;
}
.modal.active .modal_overlay .inner {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.x-button {
    right: 0;
    float: right;
    cursor: pointer;
    margin: 5px;
    width: 20px;
    height: 20px;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
    align-self: flex-end;
}

#won {
    -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
    -moz-animation: neon6 1.5s ease-in-out infinite alternate;
    animation: neon6 1.5s ease-in-out infinite alternate;
    font-size: 1em;
    text-align: center;
}

.x-button span {
    display: block;
    transform: rotate(45deg);
}

.modal-restart {
    border: 2px solid #ff4d91;
    border-radius: 5px;
    font-size: 0.5em;
    text-align: center;
    padding: 5px;
    right: 0;
    float: right;
    background: transparent;
    -webkit-box-shadow: 5px 5px 20px 1px rgba(255, 77, 145, 0.3);
    -moz-box-shadow: 5px 5px 20px 1px rgba(255, 77, 145, 0.3);
    box-shadow: 5px 5px 20px 1px rgba(255, 77, 145, 0.3);
}

@-webkit-keyframes neon6 {
    from {
        text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #ff4d91, 0 0 60px #ff4d91,
            0 0 80px #ff4d91, 0 0 100px #ff4d91, 0 0 150px #ff4d91;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff4d91, 0 0 35px #ff4d91,
            0 0 40px #ff4d91, 0 0 50px #ff4d91, 0 0 75px #ff4d91;
    }
}
